* { margin: 0px; padding: 0px; outline: none; font-family: "Quantico", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif; }

a { color: #3d4450; text-decoration: none; -webkit-transition: color 0.3s ease-in 0s; transition: color 0.3s ease-in 0s; }
a:hover { -webkit-transition: color 0.3s ease-in 0s; transition: color 0.3s ease-in 0s; }

html, body { font-size: 12px; }

li { list-style: none; }

::-moz-selection { color: #404040; background: rgba(151, 187, 205, 0.5); }

::selection { color: #404040; background: rgba(151, 187, 205, 0.5); }

body { background: white; }

@font-face { font-family: 'lobster_twoitalic'; src: url(../fonts/lobster_two_italic-webfont.eot); src: url(../fonts/lobster_two_italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lobster_two_italic-webfont.svg#lobster_twoitalic) format("svg"), url(../fonts/lobster_two_italic-webfont.woff2) format("woff2"), url(../fonts/lobster_two_italic-webfont.woff) format("woff"), url(../fonts/lobster_two_italic-webfont.ttf) format("truetype"); font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; }
@font-face { font-family: 'mf_yuehei'; font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; }
@font-face { font-family: 'Quantico'; font-style: normal; font-weight: 400; src: local("Quantico"), local("Quantico-Regular"), url(../fonts/Quantico.woff) format("woff"); }
.icon { display: inline-block; width: 2.5rem; height: 2.5rem; fill: currentColor; }

.btn { background: #66b4ff; border-radius: 2px; color: white; box-sizing: border-box; display: inline-block; margin-top: 10px; font-size: 1.16667rem; padding: 5px; text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.2); cursor: pointer; border: none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.btn:hover { background: #4da8ff; }

.yes.btn { background: #66b4ff; color: white; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.yes.btn:before { content: "\f00c"; display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.yes.btn:hover { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #4da8ff; }

.no.btn { background: #d9534f; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: white; }
.no.btn:before { content: "\f00d"; display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.no.btn:hover { background: #c9302c; border-color: #ac2925; }

.btn.flat { background: #5bc0de; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: white; }
.btn.flat:before { display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.btn.flat:hover { background: #31b0d5; }

.btn.sliver { background: #dddddd; }
.btn.sliver:hover { background: #d0d0d0; }

.circle { width: 300px; height: 300px; margin: auto; border-radius: 50%; position: relative; }
.circle:after, .circle:before { content: ""; display: block; position: absolute; left: 0px; top: 0px; height: inherit; width: inherit; border-radius: 50%; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; box-shadow: inset 200px 0px 0px rgba(155, 80, 186, 0.1), inset 0px -200px 0px rgba(155, 80, 186, 0.1), inset -200px 0px 0px rgba(155, 80, 186, 0.1), inset 0px 200px 0px rgba(155, 80, 186, 0.1); }
.circle:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.circle:hover:before, .circle:hover:after { box-shadow: inset 10px 0px 0px rgba(255, 0, 0, 0.5), inset 0px -10px 0px rgba(252, 150, 0, 0.5), inset -10px -10px 0px rgba(0, 255, 0, 0.5), inset 0px 10px 0px rgba(0, 150, 255, 0.5); }

@-webkit-keyframes heart { 0% { opacity: 0; }
  50% { opacity: 1; top: -30px; -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
  100% { opacity: 1; top: 5px; } }

@keyframes heart { 0% { opacity: 0; }
  50% { opacity: 1; top: -30px; -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
  100% { opacity: 1; top: 5px; } }
.vote { text-align: center; display: inline-block; }
.vote a { font-size: 14px; padding: 5px 5px 5px 30px; border: 1px solid #cfcfcf; display: inline-block; position: relative; -webkit-perspective: 800px; perspective: 800px; -webkit-transform-style: preserver-3d; transform-style: preserver-3d; }
.vote a:after { content: "\f08a"; }
.vote a:after, .vote a:before { display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: "FontAwesome"; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; box-sizing: border-box; position: absolute; left: 5px; top: 10px; }
.vote a.active:before { content: "\f004"; color: red; -webkit-transform: rotateY(30deg); transform: rotateY(30deg); -webkit-animation: heart 2s ease-in-out; animation: heart 2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.vote a.active:after { opacity: 0; -webkit-transition: all 0.2s ease-in-out 2s; transition: all 0.2s ease-in-out 2s; }
.vote span { background: white; display: inline-block; padding: 5px; color: #757d83; border: 1px solid #cfcfcf; position: relative; font-size: 14px; margin-left: 10px; }
.vote span:before, .vote span:after { content: ""; width: 0px; height: 0px; position: absolute; border-style: solid; border-width: 8px; border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; top: 5px; }
.vote span:before { border-right-color: white; left: -16px; z-index: 5; }
.vote span:after { left: -17px; border-right-color: #cfcfcf; z-index: 4; }

.vote1 { text-align: center; display: inline-block; }
.vote1 a { font-size: 14px; width: 16px; height: 15px; position: relative; display: inline-block; }
.vote1 a:after, .vote1 a:before { content: "\f004"; display: inline-block; opacity: 1; width: 1.23em; height: 1em; font-family: "FontAwesome"; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; box-sizing: border-box; position: absolute; left: 0px; top: 0px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.vote1 a:before { color: red; }
.vote1 a:hover:after { -webkit-transform: scale(0, 0); -ms-transform: scale(0, 0); transform: scale(0, 0); opacity: 0; }

.rate { cursor: pointer; }
.rate i { margin-right: 0px; font-size: 1.33333rem; }
.rate.big i { font-size: 1.66667rem; }
.rate.large i { font-size: 2rem; }
.rate.small i { font-size: 1.16667rem; }
.rate i:before { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: "\f006"; }
.rate i { color: #999999; }
.rate i.hover, .rate i.active { opacity: 1; color: #FFB70A; }
.rate i.hover.active { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: #f0a900; }
.rate i.active:before { content: '\f005'; }

.rate.heart i.active:before { content: "\f004"; }
.rate.heart i:before { content: "\f08a"; }
.rate.heart i.hover, .rate.heart i.active { opacity: 1; color: red; }
.rate.heart i.hover.active { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: #e60000; }

@-webkit-keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(0.97, 0.97, 0.97); transform: scale3d(0.97, 0.97, 0.97); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }

@keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(0.97, 0.97, 0.97); transform: scale3d(0.97, 0.97, 0.97); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
@-webkit-keyframes bounceOut { 20% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% { opacity: 1; -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  100% { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); } }
@keyframes bounceOut { 20% { -webkit-transform: scale3d(0.9, 0.9, 0.9); transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% { opacity: 1; -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  100% { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); } }
.popDimmer { position: fixed; display: none; width: 100% !important; height: 100% !important; top: 0px; left: 0px; z-index: 12; background: rgba(0, 0, 0, 0.5); }

.popUp { background: white; display: none; font-size: 1.16667rem; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: auto; padding: 20px; border-radius: 3px; border: 1px solid #ededed; box-sizing: content-box; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; }
.popUp .fa-times-circle { position: absolute; right: -20px; top: -20px; cursor: pointer; color: black; font-size: 2.5rem; line-height: 1; opacity: 1; }
.popUp.active { -webkit-animation: bounceIn 0.75s forwards; animation: bounceIn 0.75s forwards; }
.popUp.noactive { -webkit-animation: bounceOut 0.75s both; animation: bounceOut 0.75s both; }

.popInner { display: inline-block; }

.slider { position: relative; width: 670px; height: 250px; margin-bottom: 20px; overflow: hidden; margin: auto; }
.slider img { position: absolute; }
.slider ul { position: absolute; bottom: 10px; right: 10px; }
.slider ul li { background: white; border-radius: 50%; margin-left: 10px; width: 20px; height: 20px; cursor: pointer; }
.slider ul li.active { background: rgba(0, 0, 255, 0.5); }

.moreInfo { width: 960px; margin: auto; font-size: 0px; position: relative; text-align: left; }

.moreInfoAside { display: inline-block; vertical-align: top; width: 210px; background: white; }

.moreAsideSec { font-size: 1rem; border: 1px solid #dcdcdc; border-radius: 4px; height: 200px; background: pink; }
.moreAsideSec h4 { font-size: 1.16667rem; color: #666; text-align: center; padding: 10px 0px; }

.moreInfoCon { display: inline-block; vertical-align: top; width: 740px; margin-right: 10px; }

.moreInfoBar { background: white; width: 960px; }
.moreInfoBar ul { font-size: 0px; border-bottom: 1px solid #dcdcdc; }
.moreInfoBar li { display: inline-block; font-size: 1.16667rem; margin-right: 10px; }
.moreInfoBar a { color: #666; display: block; padding: 10px 15px; border: 1px solid #dcdcdc; border-bottom: none; border-top-left-radius: 4px; border-top-right-radius: 4px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.moreInfoBar a.active { border-bottom: 1px solid white; margin-bottom: -1px; }
.moreInfoBar a:hover { background: rgba(0, 0, 255, 0.5); color: white; }

.moreInfoSec { margin-bottom: 10px; background: red; width: 100%; height: 500px; font-size: 50px; }
.moreInfoSec:last-of-type { margin-bottom: 0px; }

.backUp { width: 100%; height: 42px; display: none; }

.backUp.active { display: block; }

section { margin: 20px; text-align: center; position: relative; box-sizing: border-box; }
section header { background: #333333; color: #929999; padding: 10px; box-sizing: border-box; border-radius: 2px; margin-bottom: 10px; }

.cb { height: 300px; }

.tl { width: calc(100% - 40px); height: calc(100vh - 40px); }

.calendar { font-size: 0px; text-align: left; }
.calendar div { font-size: 15px; display: inline-block; width: 15em; height: 15em; line-height: 15em; vertical-align: top; text-align: center; box-sizing: border-box; border-bottom: 2px solid teal; cursor: pointer; }



/*# sourceMappingURL=demo.css.map */