* { margin: 0px; padding: 0px; outline: none; font-family: "Quantico", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif; }

a { color: #3d4450; text-decoration: none; -webkit-transition: color 0.3s ease-in 0s; transition: color 0.3s ease-in 0s; }
a:hover { -webkit-transition: color 0.3s ease-in 0s; transition: color 0.3s ease-in 0s; }

html, body { font-size: 12px; }

li { list-style: none; }

::-moz-selection { color: #404040; background: rgba(151, 187, 205, 0.5); }

::selection { color: #404040; background: rgba(151, 187, 205, 0.5); }

body { background: white; }

@font-face { font-family: 'lobster_twoitalic'; src: url(../fonts/lobster_two_italic-webfont.eot); src: url(../fonts/lobster_two_italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lobster_two_italic-webfont.svg#lobster_twoitalic) format("svg"), url(../fonts/lobster_two_italic-webfont.woff2) format("woff2"), url(../fonts/lobster_two_italic-webfont.woff) format("woff"), url(../fonts/lobster_two_italic-webfont.ttf) format("truetype"); font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; }
@font-face { font-family: 'mf_yuehei'; font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; }
@font-face { font-family: 'Quantico'; font-style: normal; font-weight: 400; src: local("Quantico"), local("Quantico-Regular"), url(../fonts/Quantico.woff) format("woff"); }
/*
 SKINS - Backgrounds - Colors - Border colors - SVG fills - SVG Strokes

*/
/* Backgrounds */
.bg-navy { background-color: #001F3F; }

.bg-blue { background-color: #0074D9; }

.bg-aqua { background-color: #7FDBFF; }

.bg-teal { background-color: #39CCCC; }

.bg-olive { background-color: #3D9970; }

.bg-green { background-color: #2ECC40; }

.bg-lime { background-color: #01FF70; }

.bg-yellow { background-color: #FFDC00; }

.bg-orange { background-color: #FF851B; }

.bg-red { background-color: #FF4136; }

.bg-fuchsia { background-color: #F012BE; }

.bg-purple { background-color: #B10DC9; }

.bg-maroon { background-color: #85144B; }

.bg-white { background-color: #fff; }

.bg-gray { background-color: #aaa; }

.bg-silver { background-color: #ddd; }

.bg-black { background-color: #111; }

/* Colors */
.navy { color: #001F3F; }

.blue { color: #0074D9; }

.aqua { color: #7FDBFF; }

.teal { color: #39CCCC; }

.olive { color: #3D9970; }

.green { color: #2ECC40; }

.lime { color: #01FF70; }

.yellow { color: #FFDC00; }

.orange { color: #FF851B; }

.red { color: #FF4136; }

.fuchsia { color: #F012BE; }

.purple { color: #B10DC9; }

.maroon { color: #85144B; }

.white { color: #fff; }

.silver { color: #ddd; }

.gray { color: #aaa; }

.black { color: #111; }

/* Border colors 
 Use with another border utility that sets border-width and style  i.e .border { border-width: 1px; border-style: solid; }     
*/
.border--navy { border-color: #001F3F; }

.border--blue { border-color: #0074D9; }

.border--aqua { border-color: #7FDBFF; }

.border--teal { border-color: #39CCCC; }

.border--olive { border-color: #3D9970; }

.border--green { border-color: #2ECC40; }

.border--lime { border-color: #01FF70; }

.border--yellow { border-color: #FFDC00; }

.border--orange { border-color: #FF851B; }

.border--red { border-color: #FF4136; }

.border--fuchsia { border-color: #F012BE; }

.border--purple { border-color: #B10DC9; }

.border--maroon { border-color: #85144B; }

.border--white { border-color: #fff; }

.border--gray { border-color: #aaa; }

.border--silver { border-color: #ddd; }

.border--black { border-color: #111; }

/* Fills for SVG */
.fill-navy { fill: #001F3F; }

.fill-blue { fill: #0074D9; }

.fill-aqua { fill: #7FDBFF; }

.fill-teal { fill: #39CCCC; }

.fill-olive { fill: #3D9970; }

.fill-green { fill: #2ECC40; }

.fill-lime { fill: #01FF70; }

.fill-yellow { fill: #FFDC00; }

.fill-orange { fill: #FF851B; }

.fill-red { fill: #FF4136; }

.fill-fuchsia { fill: #F012BE; }

.fill-purple { fill: #B10DC9; }

.fill-maroon { fill: #85144B; }

.fill-white { fill: #fff; }

.fill-gray { fill: #aaa; }

.fill-silver { fill: #ddd; }

.fill-black { fill: #111; }

/* Strokes for SVG */
.stroke-navy { stroke: #001F3F; }

.stroke-blue { stroke: #0074D9; }

.stroke-aqua { stroke: #7FDBFF; }

.stroke-teal { stroke: #39CCCC; }

.stroke-olive { stroke: #3D9970; }

.stroke-green { stroke: #2ECC40; }

.stroke-lime { stroke: #01FF70; }

.stroke-yellow { stroke: #FFDC00; }

.stroke-orange { stroke: #FF851B; }

.stroke-red { stroke: #FF4136; }

.stroke-fuchsia { stroke: #F012BE; }

.stroke-purple { stroke: #B10DC9; }

.stroke-maroon { stroke: #85144B; }

.stroke-white { stroke: #fff; }

.stroke-gray { stroke: #aaa; }

.stroke-silver { stroke: #ddd; }

.stroke-black { stroke: #111; }

.btn { background: #66b4ff; border-radius: 2px; color: white; box-sizing: border-box; display: inline-block; margin-top: 10px; font-size: 1.16667rem; padding: 5px; text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.2); cursor: pointer; border: none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.btn:hover { background: #4da8ff; }

.yes.btn { background: #66b4ff; color: white; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.yes.btn:before { content: "\f00c"; display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.yes.btn:hover { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #4da8ff; }

.no.btn { background: #d9534f; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: white; }
.no.btn:before { content: "\f00d"; display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.no.btn:hover { background: #c9302c; border-color: #ac2925; }

.btn.flat { background: #5bc0de; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: white; }
.btn.flat:before { display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased; }
.btn.flat:hover { background: #31b0d5; }

.btn.sliver { background: #dddddd; }
.btn.sliver:hover { background: #d0d0d0; }

@-webkit-keyframes process1 { 0% { opacity: 0.3; width: 0; }
  100% { opacity: 0; width: 100%; } }

@keyframes process1 { 0% { opacity: 0.3; width: 0; }
  100% { opacity: 0; width: 100%; } }
@-webkit-keyframes process2 { from { background-position: 0px; }
  to { background-position: 60px; } }
@keyframes process2 { from { background-position: 0px; }
  to { background-position: 60px; } }
.processbar { width: 100%; height: 1.66667rem; margin: 10px 0px; border: none; background: #ebebeb; }
.processbar span { width: 0%; height: 100%; position: relative; border-radius: 5px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; box-sizing: border-box; display: block; line-height: 20px; text-align: right; color: white; font-size: 1rem; }
.processbar span[style*='width'] { padding-right: 10px; }

.process2 span { background: -webkit-linear-gradient(#3399ff 25%, #99ccff 25%, #99ccff 50%, #3399ff 50%, #3399ff 75%, #99ccff 75%, #99ccff 100%); background: linear-gradient(#3399ff 25%, #99ccff 25%, #99ccff 50%, #3399ff 50%, #3399ff 75%, #99ccff 75%, #99ccff 100%); -webkit-animation: process2 3s linear 2s infinite; animation: process2 3s linear 2s infinite; background-size: 60px 60px; }

.process1 span[style*='width: 3'], .process1 span[style*='width: 4'] { background: #66b3ff; }
.process1 span[style*='width: 5'], .process1 span[style*='width: 6'], .process1 span[style*='width: 7'] { background: #4da6ff; }
.process1 span[style*='width: 8'], .process1 span[style*='width: 9'] { background: #66da81; }
.process1 span[style*='width: 100'] { background: #5bbd72; }
.process1 span[style*='width: 100']:after { -webkit-animation: none; animation: none; }
.process1 span[style*='width: 1%'] { background: #99ccff; }
.process1 span[style*='width: 2%'] { background: #99ccff; }
.process1 span[style*='width: 3%'] { background: #99ccff; }
.process1 span[style*='width: 4%'] { background: #99ccff; }
.process1 span[style*='width: 5%'] { background: #99ccff; }
.process1 span[style*='width: 6%'] { background: #99ccff; }
.process1 span[style*='width: 7%'] { background: #99ccff; }
.process1 span[style*='width: 8%'] { background: #99ccff; }
.process1 span[style*='width: 9%'] { background: #99ccff; }
.process1 span.disable { background: #dcdcdc; }
.process1 span { background: #99ccff; }
.process1 span:after { content: ''; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #fff; -webkit-animation: process1 2s ease 0s infinite; animation: process1 2s ease 0s infinite; }

.tiny.processbar { height: 3px !important; background: none; }
.tiny.processbar span { padding-right: 0px; }

.error.processbar span { background: #FF4136; }

@-webkit-keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes show { 0% { opacity: 0; }
  100% { opacity: 1; } }
.fileUpload { padding: 20px; }
.fileUpload header { margin: 10px 0px; }
.fileUpload header h4 { font-size: 1.66667rem; color: #3d4450; }
.fileUpload .dragDrop { width: 100%; box-sizing: border-box; height: 300px; border: 6px dashed #dcdcdc; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.fileUpload .dragDrop form p { color: #BABABA; font-size: 1.5rem; text-shadow: 2px 2px 2px #dcdcdc; text-align: center; }
.fileUpload .dragDrop form p:first-of-type { margin-top: 100px; }
.fileUpload .dragDrop form input[type='file'] { display: none; }
.fileUpload .dragDrop form .btns { display: block; margin: auto; text-align: center; font-size: 0px; }
.fileUpload .dragDrop form button { font-size: 1.33333rem; color: #878787; text-shadow: 2px 2px 2px #dcdcdc; padding: 5px; border: 1px solid #dcdcdc; border-radius: 5px; cursor: pointer; display: inline-block; margin: 0px 5px; }
.fileUpload .dragDrop.active { border-color: #c3c3c3; }
.fileUpload .preview { border: none; font-size: 0px; }
.fileUpload .preview > div { display: inline-block; margin: 5px; width: 200px; text-align: center; overflow: hidden; position: relative; height: 220px; -webkit-animation: show 0.5s ease-in-out both; animation: show 0.5s ease-in-out both; }
.fileUpload .preview > div .fa-file { font-size: 5.83333rem; width: 100%; height: 180px; text-align: center; line-height: 180px; }
.fileUpload .preview > div > span { text-align: center; display: inline-block; vertical-align: middle; font-size: 1.16667rem; color: #3d4450; width: 100%; box-sizing: border-box; }
.fileUpload .preview > div > p { position: absolute; top: 0px; margin: 0px; }
.fileUpload .preview > div i:nth-child(1) { position: absolute; right: 0px; top: 5px; font-size: 1.5rem; margin: 0px; }
.fileUpload .preview > div .fa-remove { color: #0074D9; cursor: pointer; }
.fileUpload .preview > div .fa-remove:before { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; opacity: 0.1; }
.fileUpload .preview > div .fa-warning { color: #FF4136; }
.fileUpload .preview > div .fa-check { color: #5bbd72; }
.fileUpload .preview > div:hover i.fa-remove:before, .fileUpload .preview > div:hover i.resume:before { opacity: 0.8; }
.fileUpload .preview > div .resume { position: absolute; left: 50%; top: 50%; color: #0074D9; width: 4.16667rem; height: 4.16667rem; margin: -2.08333rem 0 0 -2.08333rem; font-size: 4.16667rem; cursor: pointer; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
.fileUpload .preview > div .resume:before { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; opacity: 0.3; }
.fileUpload .preview img { max-width: 200px; display: inline-block; vertical-align: middle; }
.fileUpload .preview p:last-of-type { top: 200px; width: 100%; height: 20px; font-size: 1rem; color: #3d4450; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; background: white; }
.fileUpload .preview p:last-of-type span { -webkit-box-flex: 1; -webkit-flex: auto 0 0; -ms-flex: auto 0 0; flex: auto 0 0; }
.fileUpload .preview .name { position: absolute; background: white; top: 182px; left: 0px; height: 20px; overflow: hidden; border-top: 1px solid #39CCCC; font-size: 1rem; }
.fileUpload .exist { font-size: 1rem; background: rgba(255, 0, 0, 0.5); color: white; padding: 5px; border-radius: 4px; position: absolute; right: 20px; top: 20px; -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }

.upload.notice { position: fixed; background: #66b4ff; color: white; padding: 5px 10px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; top: 0px; left: 50%; height: 30px; margin-top: -30px; box-sizing: border-box; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }



/*# sourceMappingURL=fileupload.css.map */
