
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}


@mixin linear($value...){
    @each $prefix in $prefixes {
        background: -#{$prefix}-linear-gradient($value);
    }
    background:linear-gradient($value);
}
@mixin radial($value...){
    @each $prefix in $prefixes {
        background: -#{$prefix}-radial-gradient($value);
    }
    background:radial-gradient($value);
}
@mixin repeatlinear($value...){
    @each $prefix in $prefixes {
        background: -#{$prefix}-repeating-linear-gradient($value);
    }
    background:repeating-linear-gradient($value);
}

@function pxToRem($px) {
    @return $px / $rootfont * 1rem;
}

@mixin respond-to($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
    }
}