.btn {
    background: #66b4ff;
    border-radius: 2px;
    // box-shadow: 1px 1px 1px rgba(220, 220, 220, 0.5);
    color: white;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 10px;
    font-size: pxToRem(14px);
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.2);
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: darken(#66b4ff, 5%);
    }
}

.yes.btn {
    background: #66b4ff;
    color: white;
    transition: all 0.2s ease-in-out;
    &:before {
        content: "\f00c";
        display: inline-block;
        opacity: 0.75;
        margin: 0em 0.25em 0em 0em;
        width: 1.23em;
        height: 1em;
        font-family: 'FontAwesome';
        font-style: normal;
        line-height: 1;
        font-weight: normal;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        background: darken(#66b4ff, 5%);
    }
}

.no.btn {
    background: #d9534f;
    transition: all 0.2s ease-in-out;
    color: white;
    &:before {
        content: "\f00d";
        display: inline-block;
        opacity: 0.75;
        margin: 0em 0.25em 0em 0em;
        width: 1.23em;
        height: 1em;
        font-family: 'FontAwesome';
        font-style: normal;
        line-height: 1;
        font-weight: normal;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    &:hover {
        background: #c9302c;
        border-color: #ac2925;
    }
}

.btn.flat {
    background: #5bc0de;
    transition: all 0.2s ease-in-out;
    color: white;
    &:before {
        display: inline-block;
        opacity: 0.75;
        margin: 0em 0.25em 0em 0em;
        width: 1.23em;
        height: 1em;
        font-family: 'FontAwesome';
        font-style: normal;
        line-height: 1;
        font-weight: normal;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    &:hover {
        background: #31b0d5;
    }
}

.btn.sliver {
    background: rgb(221, 221, 221);
    &:hover {
        background: darken(rgb(221, 221, 221), 5%);
    }
}
