@mixin build-prefix($property, $value, $prefixes: $prefixes) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

@mixin transition($property: all, $time: 0.3s, $way: ease-in, $delay: 0s) {
    $value: $property $time  $way $delay;
    @include build-prefix("transition", $value);
}

@mixin transform($property...) {
    $value: $property;
    @include build-prefix("transform", $value);
}
@mixin transform-origin($property) {
    $value:$property;
    @include build-prefix("transform-origin",$value);
}
@mixin textshow {
    text-shadow: 2px 2px 2px #dcdcdc;
}

@mixin border {
    border: 1px solid $bordercol;
    border-radius: 5px;
}

@mixin boxsizing($property) {
    $value:$property;
    @include build-prefix("box-sizing",$value); 
}
@mixin boxshow {
    box-shadow: 2px 2px 2px #dcdcdc;
    border-radius: 5px;
}
@mixin abghover {
    @include transition(background);
    &:hover {
        background: $hovercol;
        @include transition(background);
    }
}

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
@mixin animate($ani, $time: 0.8s, $way: cubic-bezier(0.42, 0, 0.58, 1), $delay: 0s, $recycle: 1, $alternate: normal) {
    $value: $ani $time $way $delay $recycle $alternate;
    @include build-prefix("animation", $value);
}

@mixin spansum {
    background: white;
    color: $hovercol;
    padding: 0px 5px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 600;
}

@mixin inlineblock {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

@function pxToRem($px) {
    @return $px / $rootfont * 1rem;
}

%inlineblock{
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

%transition{
    @include build-prefix("transition", all 0.3s ease-in 0s);
}